@font-face {
  font-family: "Orbitron";
  font-style: normal;
  src: url("../fonts/Orbitron-VariableFont_wght.ttf");
}
@font-face {
  font-family: "FiraSansExtraCondensed";
  font-style: normal;
  src: url("../fonts/FiraSansExtraCondensed-Regular.ttf");
}
@font-face {
  font-family: "Goldman";
  font-style: normal;
  src: url("../fonts/Goldman-Regular.ttf");
}
.icon-theme {
  fill: gray;
}
.icon-theme:hover {
  fill: black;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: lightgray;
}

* {
  box-sizing: border-box;
}

.link {
  font-family: "Goldman", Sans-Serif;
  text-decoration: none;
  color: #8438FF;
}
.link:hover {
  color: white;
}

.sections__header {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 17px;
  font-family: "Orbitron", Sans-Serif;
  color: #005c61;
  text-transform: uppercase;
}

.ver {
  display: block;
  line-height: 0.5;
  text-transform: none;
  padding-top: 0px;
  margin-top: 0px;
  font-size: 22px;
  color: #cc00ff;
}

.uppercase {
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-theme, .button-settings {
  font-family: "Goldman", Sans-Serif;
  text-decoration: none;
  color: #8438FF;
  font-size: 21px;
  background-color: inherit;
  border: none;
  text-transform: uppercase;
}
.button-theme:hover, .button-settings:hover {
  color: white;
}

.text {
  font-family: "FiraSansExtraCondensed", Sans-Serif;
  font-size: 20px;
  font-weight: 100;
}

.text--blue {
  color: rgb(53, 53, 53);
}

.text--red {
  color: red;
}

.text--violet {
  color: #0064f0;
}

.text--marked {
  color: #0064f0;
}

.font-size-20px {
  font-size: 20px;
}

.counter-header-text {
  font-family: "Goldman", Sans-Serif;
  font-size: 15px;
  color: #005c61;
  font-weight: 100;
}

.font900 {
  font-weight: 900;
}

.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.header__center {
  text-align: center;
}

.header__right {
  text-align: right;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 60px;
  margin-top: 60px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.rules {
  order: 2;
  padding: 10px;
  background-color: lightgray;
  border-radius: 20px;
  box-shadow: 0px 0px 7px gray;
}

.desc_content {
  padding: 10px;
}

.game {
  padding: 10px;
  background-color: lightgray;
  border-radius: 20px;
  box-shadow: 0px 0px 7px gray;
}

.game-items {
  display: grid;
  grid-gap: 30px;
}

.game__item {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  grid-gap: 10px;
  padding: 10px;
  padding-top: 0px;
  background-color: lightgray;
}

.game__links {
  height: 100%;
  display: grid;
  align-content: space-around;
}

.result-header {
  display: block;
  font-family: "Goldman", Sans-Serif;
  font-size: 18px;
  text-align: center;
}

.info {
  width: 100%;
  font-family: "Goldman", Sans-Serif;
  background-color: lightgray;
  border: none;
  color: black;
  resize: none;
  font-size: 20px;
  height: 100px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px;
  font-size: 18px;
}
.info:focus {
  outline: none;
  border: none;
}

.statistic-area {
  display: grid;
  grid-row-gap: 10px;
}

.main-label {
  font-family: "Goldman", Sans-Serif;
  color: #388BFF;
  font-size: 48px;
}

.counter-percent, .counter-total-quantity {
  font-family: "Orbitron", Sans-Serif;
  font-size: 15px;
}

.guess-percents, .total-tryes-quantity {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.rules {
  font-family: "FiraSansExtraCondensed", Sans-Serif;
  font-size: 15px;
}

.settings {
  order: 2;
  padding: 10px;
  background-color: lightgray;
  border-radius: 20px;
  box-shadow: 0px 0px 7px gray;
  font-family: "Goldman", Sans-Serif;
}

.mobile-game {
  padding: 10px;
  background-color: lightgray;
  border-radius: 20px;
  box-shadow: 0px 0px 7px gray;
}

.mobile-game__header {
  display: flex;
  justify-content: space-between;
}

.game__numbers-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #003681;
}

.mobile-main-input {
  width: 100%;
  font-family: "Goldman", Sans-Serif;
  padding: 5px;
  background-color: lightgray;
  border: 2px solid gray;
  border-radius: 10px;
  color: black;
  transition-property: box-shadow, border, color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  font-size: 20px;
}
.mobile-main-input:focus {
  outline: none;
  border: 3px solid #003681;
}

.button-number {
  margin: 3px;
  width: 55px;
  height: 35px;
  font-family: "Goldman", Sans-Serif;
  background-color: lightgray;
  border: 3px solid gray;
  border-radius: 10px;
  box-shadow: 0px 0px 3px gray;
  color: black;
  padding: 0px;
  font-size: 15px;
}
.button-number:active {
  color: white;
  border: 3px solid white;
}

.button-enter, .button-del {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
  font-family: "Goldman", Sans-Serif;
  background-color: lightgray;
  border: 3px solid gray;
  border-radius: 10px;
  box-shadow: 0px 0px 3px gray;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  width: 55px;
  height: 35px;
  font-size: 20px;
}
.button-enter:active, .button-del:active {
  fill: white;
  color: white;
  border: 3px solid white;
}

.rules-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: inherit;
  fill: gray;
}
.rules-btn:hover {
  fill: black;
}
.rules-btn:active {
  fill: white;
}

.theme-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: inherit;
  fill: gray;
}
.theme-btn:hover {
  fill: black;
}
.theme-btn:active {
  fill: white;
}

@media (min-width: 1950px) {
  .main {
    max-width: 600px;
  }
}
@media (max-width: 1570px) and (min-width: 1180px) {
  .main {
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 40px;
  }
  .about {
    display: grid;
    grid-area: auto;
    padding: 20px;
  }
  .about__header {
    grid-area: 1/1/1/3;
  }
}
@media (max-width: 1179px) and (min-width: 719px) {
  .main {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 40px;
  }
  .game-items {
    grid-gap: 20px;
  }
  .game__item {
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .game__img {
    width: 100%;
    height: 100%;
  }
  .game__links {
    grid-gap: 10px;
  }
  .about {
    grid-area: auto;
    padding: 20px;
  }
}
@media (max-width: 720px) and (min-width: 499px) {
  .header__description {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .main {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 40px;
  }
  .info {
    height: 150px;
  }
  .game-items {
    grid-gap: 20px;
  }
  .game__item {
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .game__links {
    grid-gap: 10px;
  }
  .about {
    grid-area: auto;
    padding: 20px;
  }
  .text {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .header {
    width: 100%;
    grid-template-columns: 1fr 2fr 1fr;
  }
  .header__hi {
    padding: 10px;
    font-size: 17px;
  }
  .header__description {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
  }
  .main {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 15px;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  .game {
    grid-template-rows: 1fr;
    order: 1;
    padding: 20px;
  }
  .game-items {
    grid-gap: 20px;
  }
  .game__item {
    grid-template-columns: 1fr;
    padding: 10px;
    padding-top: 0px;
  }
  .game__links {
    grid-gap: 10px;
  }
  .about {
    grid-area: auto;
    padding: 20px;
  }
  .text {
    font-size: 18px;
  }
  .rules {
    padding: 20px;
  }
  .rules {
    position: absolute;
    font-family: "FiraSansExtraCondensed", Sans-Serif;
    font-size: 15px;
    font-weight: 900;
    padding: 20px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: perspective(500px) rotateY(180deg);
  }
  .about {
    grid-area: auto;
    padding: 0px;
  }
  .desc_content {
    padding: 5px;
  }
  .mobile-game {
    position: absolute;
    padding: 10px;
    background-color: lightgray;
    border-radius: 20px;
    box-shadow: 0px 0px 7px gray;
    padding: 7px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .flipped {
    transform: perspective(900px) rotateY(180deg);
  }
  .mobile-main-input {
    width: 100%;
    font-family: "Goldman", Sans-Serif;
    padding: 5px;
    background-color: lightgrey;
    border: 3px solid gray;
    border-radius: 15px;
    box-shadow: 0px 0px 3px gray;
    color: black;
    transition-property: box-shadow, border, color;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    font-size: 30px;
  }
  .mobile-main-input:active {
    color: white;
    border: 3px solid white;
  }
  .button-number {
    margin: 5px;
    width: 75px;
    height: 45px;
    font-family: "Goldman", Sans-Serif;
    background-color: lightgray;
    border: 3px solid gray;
    border-radius: 10px;
    box-shadow: 0px 0px 3px gray;
    color: black;
    padding: 0px;
    font-size: 20px;
  }
  .button-number:active {
    color: white;
    border: 3px solid white;
  }
  .button-enter, .button-del {
    margin: 5px;
    font-family: "Goldman", Sans-Serif;
    background-color: lightgray;
    border: 3px solid gray;
    border-radius: 10px;
    box-shadow: 0px 0px 3px gray;
    color: black;
    padding: 0px;
    width: 75px;
    height: 45px;
    font-size: 12px;
  }
  .button-enter:active, .button-del:active {
    color: white;
    border: 3px solid white;
  }
  .info {
    height: 100px;
    font-size: 20px;
  }
  .counter-score, .counter-percent, .counter-quantity, .counter-total-quantity {
    font-family: "Orbitron", Sans-Serif;
    font-size: 18px;
    font-weight: 900;
  }
  .counter-header-text {
    font-size: 20px;
  }
}