@mixin pad_marg_0 {
  padding: 0px;
	margin: 0px;
}
@mixin marg_auto {
  margin-left: auto;
  margin-right: auto;
}
@mixin main_elms_style {
  padding: 10px;
  background-color: lightgray;
  border-radius: 20px;
  // border: 1px solid gray;
  box-shadow: 0px 0px 7px gray;
}
// @mixin button_style {
//   font-family: 'Goldman', Sans-Serif;
//   font-size: 8px;
//   padding: 10px;
//   background-color: lightgray;
//   border: 3px solid gray; 
//   border-radius: 15px;
//   box-shadow: 0px 0px 3px gray;
//   color: black;
//   transition-property: box-shadow, border, color;
//   transition-duration: 0.5s;
//   transition-timing-function: ease-out;
// }
@mixin mobile_buttons_style {
  font-family: 'Goldman', Sans-Serif;
  background-color: lightgray;
  border: 3px solid gray; 
  border-radius: 10px;
  box-shadow: 0px 0px 3px gray;
  color: black;
  
}
@mixin input_styles {
  width: 100%;
  font-family: 'Goldman', Sans-Serif;
  background-color: lightgray;
  border: none;
  color: black;
  resize: none;
  font-size: 20px;
  &:focus {
    outline: none;
    border: none;
  }
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  src: url('../fonts/Orbitron-VariableFont_wght.ttf'); 
}
@font-face {
  font-family: 'FiraSansExtraCondensed';
  font-style: normal;
  src: url('../fonts/FiraSansExtraCondensed-Regular.ttf'); 
}
@font-face {
  font-family: 'Goldman';
  font-style: normal;
  src: url('../fonts/Goldman-Regular.ttf'); 
}
// ICONS =====================================================
// compare - google free icons
// backspace - microsoft
// themes - veucss_MIT_license
// .icon-rules {
//   fill: gray;
//   &:hover {
//     fill: black;
//   }
// }
// .icon-theme {
//   fill: gray;
//   &:hover {
//     fill: black;
//   }
// }
// .icon-del, .icon-compare {
//   z-index: 3;
// }

// COMMON =====================================================
body {
  @include pad_marg_0;
  background-color: lightgray;
}
* {
  box-sizing: border-box;
}
.link {
  font-family: 'Goldman', Sans-Serif;
  text-decoration: none;
  color: #8438FF;
  &:hover {
    color: white;
  }
}
.sections__header{
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 17px;
  font-family: 'Orbitron', Sans-Serif;
  color: #005c61;
  text-transform: uppercase;
}
.ver {
  display: block;
  line-height: 0.5;
  text-transform: none;
  padding-top: 0px;
  margin-top: 0px;
  font-size: 22px;
  color: #cc00ff;
}
.uppercase {
  text-transform: uppercase;
}
//alli
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button-theme, .button-settings {
  font-family: 'Goldman', Sans-Serif;
  text-decoration: none;
  color: #8438FF;
  font-size: 21px;
  background-color: inherit;
  border: none;
  text-transform: uppercase;
  &:hover {
    color: white;
  }
}

//TEXT =====================================================
.text {
  font-family: 'FiraSansExtraCondensed', Sans-Serif;
  font-size: 20px;
  font-weight: 100;
}
.text--blue {
    color: rgb(53, 53, 53);
}
.text--red {
  color: red;
}
.text--violet {
  color: #0064f0;
}
.text--marked {
  color: #0064f0;
}
.font-size-20px {
  font-size: 20px;
}
.counter-header-text {
  font-family: 'Goldman', Sans-Serif;
  font-size: 15px;
  color: #005c61;
  font-weight: 100;
}
.font900 {
  font-weight: 900;
}
// HEADER =====================================================
.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.header__center {
  text-align: center;
}
// .header__hi  {
//   // padding: 10px;
//   margin-top: 0px;
//   margin-bottom: 0px;
//   text-align: center;
//   color: #78B0FF;
//   font-size: 20px;
//   font-weight: 700;
//   font-family: 'Goldman', Sans-Serif;
//   text-transform: uppercase;
// }
// .header__name {
//   color: #0055BC;
//   font-size: 25px;
// }
// .header__description {
//   margin-top: 0px;
//   text-align: center;
//   color: #4d97ff;
//   font-size: 15px;
//   font-family: 'Goldman', Sans-Serif;
//   text-transform: uppercase;
// }
.header__right {
  text-align: right;
}
// MAIN =====================================================
.main {
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: auto;
  grid-gap: 60px;
  margin-top: 150px;
  max-width: 350px;
  @include marg_auto;
}
// RULES =====================================================
.rules {
  order: 2;
  @include main_elms_style;
}
.desc_content {
  padding: 10px;
  padding-top: 0px;
}
// GAME =====================================================
.game {
  @include main_elms_style;
}
.game-items {
  display: grid;
  grid-gap: 30px;
  margin-top: 15px;
}
.game__item {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  grid-gap: 10px;
  padding: 10px;
  padding-top: 0px;
  background-color: lightgray;
}

.game__links {
  height: 100%;
  display: grid;
  align-content: space-around;
}
// .game__links a {
//   height: 48px;
// }

.result-header {
  display: block;
  font-family: 'Goldman', Sans-Serif;
  font-size: 18px;
  text-align: center;
}
.info {
  @include input_styles;
  height: 100px;
  border: 1px solid gray; 
  border-radius: 10px;
  padding: 5px;
  font-size: 18px;
}
.statistic-area {
  display: grid;
  grid-row-gap: 10px;
}
.main-label {
  font-family: 'Goldman', Sans-Serif;
  color: #388BFF;
  font-size: 48px;
}
.counter-percent, .counter-total-quantity{
  font-family: 'Orbitron', Sans-Serif;
  font-size: 15px;
}

.guess-percents, .total-tryes-quantity  {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

 
// MOBILE-GAME =====================================================
.rules {
    font-family: 'FiraSansExtraCondensed', Sans-Serif;
    font-size: 15px;

  }
.settings {
  order: 2;
  @include main_elms_style;
  font-family: 'Goldman', Sans-Serif;
}
.mobile-game {
  @include main_elms_style
}
.mobile-game__header {
  display: flex;
  justify-content: space-between;
}
.game__numbers-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #003681;
}
.mobile-main-input {
  width: 100%;
  font-family: 'Goldman', Sans-Serif;
  padding: 5px;
  background-color: lightgray;
  border: 2px solid gray; 
  border-radius: 10px;
  // box-shadow: 0px 0px 3px gray;
  color: black;
  transition-property: box-shadow, border, color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  font-size: 20px;
  &:focus {
    outline: none;
    border: 3px solid #003681;
    }
  }
  .button-number {
  margin: 3px;
  width: 55px;
  height: 35px;
  @include mobile_buttons_style;
  padding: 0px;
  font-size: 15px;
  &:active {
    color: white;
    border: 3px solid white;
  }
}
.button-enter, .button-del
 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
  @include mobile_buttons_style;
  padding-left: 10px;
  padding-right: 10px;
  width: 55px;
  height: 35px;
  font-size: 20px;
  // z-index: 2;
  &:active {
    fill: white;
    color: white;
    border: 3px solid white;
  }
}
.rules-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: inherit;

  fill: gray;
   &:hover {
    fill: black;

  }
  &:active {
    fill: white;

  }
}
.theme-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: inherit;

  fill: gray;
   &:hover {
    fill: black;

  }
  &:active {
    fill: white;

  }
}



@media (max-width: 1000px) and (min-width: 599px) {
  .header {
    width: 100%;
    grid-template-columns: 1fr 2fr 1fr;
  }
  .header__hi  {
    padding: 10px;
    font-size: 17px;
  }
  .header__description {
    width: 90%;
    @include marg_auto;
    font-size: 14px;
  }
  .main {
    max-width: 55%;
    @include marg_auto;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 15px;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  .game {
    grid-template-rows: 1fr;
    order: 1;
    padding: 20px;
  }
  .game-items {
    grid-gap: 20px;
  }
  .game__item {
    grid-template-columns: 1fr;
    padding: 10px;
    padding-top: 0px;
  }
  .game__links {
    grid-gap: 10px;
  }
  .about {
    grid-area: auto;
    padding: 20px;
  }
  .text {
    font-size: 18px;
}
  .rules{

   
    padding: 20px;
  }
  // MOBILE-GAME =====================================================
  .rules {
    position: absolute;
    font-family: 'FiraSansExtraCondensed', Sans-Serif;
    font-size: 15px;
    font-weight: 900;
    padding: 10px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: perspective(500px) rotateY(180deg) ;
  }
  .about {
    grid-area: auto;
    padding: 0px;
  }
  .desc_content {
    padding: 5px;
    padding-top: 0;
  }
  .mobile-game {
    position: absolute;
  @include main_elms_style;
    padding: 7px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
 
}
  .flipped {
    transform: perspective(900px) rotateY(180deg) ;
  }
  .mobile-main-input {
  width: 100%;
  font-family: 'Goldman', Sans-Serif;
  padding: 5px;
  background-color: lightgrey;
  border: 3px solid gray; 
  border-radius: 15px;
  box-shadow: 0px 0px 3px gray;
  color: black;
  transition-property: box-shadow, border, color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  font-size: 30px;
  &:active {
    color: white;
    border: 3px solid white;
    }
  }
  .button-number {
  margin: 5px;
  width: 79.3px;
  height: 50px;
  @include mobile_buttons_style;
  padding: 0px;
  font-size: 20px;
  &:active {
    color: white;
    border: 3px solid white;
    }
  }
.button-enter, .button-del {
  margin: 5px;
  @include mobile_buttons_style;
  padding: 0px;
  width: 79.3px;
  height: 50px;
  font-size: 12px;
  &:active {
    color: white;
    border: 3px solid white;
    }
  }
.info {
  height: 100px;
  font-size: 20px;
  }
.counter-score, .counter-percent, .counter-quantity, .counter-total-quantity{
font-family: 'Orbitron', Sans-Serif;
font-size: 18px;
font-weight: 900;
  }
.counter-header-text {
  font-size: 20px;
  }
}
@media (max-width: 600px) and (min-width: 499px) {
  .header {
    width: 100%;
    grid-template-columns: 1fr 2fr 1fr;
  }
  .header__hi  {
    padding: 10px;
    font-size: 17px;
  }
  .header__description {
    width: 90%;
    @include marg_auto;
    font-size: 14px;
  }
  .main {
    max-width: 75%;
    @include marg_auto;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 15px;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  .game {
    grid-template-rows: 1fr;
    order: 1;
    padding: 20px;
  }
  .game-items {
    grid-gap: 20px;
  }
  .game__item {
    grid-template-columns: 1fr;
    padding: 10px;
    padding-top: 0px;
  }
  .game__links {
    grid-gap: 10px;
  }
  .about {
    grid-area: auto;
    padding: 20px;
  }
  .text {
    font-size: 18px;
}
  .rules{

   
    padding: 20px;
  }
  // MOBILE-GAME =====================================================
  .rules {
    position: absolute;
    font-family: 'FiraSansExtraCondensed', Sans-Serif;
    font-size: 15px;
    font-weight: 900;
    padding: 10px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: perspective(500px) rotateY(180deg) ;
  }
  .about {
    grid-area: auto;
    padding: 0px;
  }
  .desc_content {
    padding: 5px;
    padding-top: 0;
  }
  .mobile-game {
    position: absolute;
  @include main_elms_style;
    padding: 7px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
 
}
  .flipped {
    transform: perspective(900px) rotateY(180deg) ;
  }
  .mobile-main-input {
  width: 100%;
  font-family: 'Goldman', Sans-Serif;
  padding: 5px;
  background-color: lightgrey;
  border: 3px solid gray; 
  border-radius: 15px;
  box-shadow: 0px 0px 3px gray;
  color: black;
  transition-property: box-shadow, border, color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  font-size: 30px;
  &:active {
    color: white;
    border: 3px solid white;
    }
  }
  .button-number {
  margin: 5px;
  width: 79.3px;
  height: 50px;
  @include mobile_buttons_style;
  padding: 0px;
  font-size: 20px;
  &:active {
    color: white;
    border: 3px solid white;
    }
  }
.button-enter, .button-del {
  margin: 5px;
  @include mobile_buttons_style;
  padding: 0px;
  width: 79.3px;
  height: 50px;
  font-size: 12px;
  &:active {
    color: white;
    border: 3px solid white;
    }
  }
.info {
  height: 100px;
  font-size: 20px;
  }
.counter-score, .counter-percent, .counter-quantity, .counter-total-quantity{
font-family: 'Orbitron', Sans-Serif;
font-size: 18px;
font-weight: 900;
  }
.counter-header-text {
  font-size: 20px;
  }
}
@media (max-width: 500px) {
  .header {
    width: 100%;
    grid-template-columns: 1fr 2fr 1fr;
  }
  .header__hi  {
    padding: 10px;
    font-size: 17px;
  }
  .header__description {
    width: 90%;
    @include marg_auto;
    font-size: 14px;
  }
  .main {
    max-width: 95%;
    @include marg_auto;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 15px;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  .game {
    grid-template-rows: 1fr;
    order: 1;
    padding: 20px;
  }
  .game-items {
    grid-gap: 20px;
  }
  .game__item {
    grid-template-columns: 1fr;
    padding: 10px;
    padding-top: 0px;
  }
  .game__links {
    grid-gap: 10px;
  }
  .about {
    grid-area: auto;
    padding: 20px;
  }
  .text {
    font-size: 18px;
}
  .rules{

   
    padding: 20px;
  }
  // MOBILE-GAME =====================================================
  .rules {
    position: absolute;
    font-family: 'FiraSansExtraCondensed', Sans-Serif;
    font-size: 15px;
    font-weight: 900;
    padding: 10px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: perspective(500px) rotateY(180deg) ;
  }
  .about {
    grid-area: auto;
    padding: 0px;
  }
  .desc_content {
    padding: 5px;
    padding-top: 0;
  }
  .mobile-game {
    position: absolute;
  @include main_elms_style;
    padding: 7px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
 
}
  .flipped {
    transform: perspective(900px) rotateY(180deg) ;
  }
  .mobile-main-input {
  width: 100%;
  font-family: 'Goldman', Sans-Serif;
  padding: 5px;
  background-color: lightgrey;
  border: 3px solid gray; 
  border-radius: 15px;
  box-shadow: 0px 0px 3px gray;
  color: black;
  transition-property: box-shadow, border, color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  font-size: 30px;
  &:active {
    color: white;
    border: 3px solid white;
    }
  }
  .game__numbers-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 7px;
  }
  .button-number {
  margin: 5px;
  width: 100%;
  height: 100%;
  @include mobile_buttons_style;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 20px;
  &:active {
    color: white;
    border: 3px solid white;
    }
  }
.button-enter, .button-del {
  margin: 5px;
  @include mobile_buttons_style;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 100%;
  height: 100%;
  font-size: 12px;
  &:active {
    color: white;
    border: 3px solid white;
    }
  }
.info {
  height: 100px;
  font-size: 20px;
  }
.counter-score, .counter-percent, .counter-quantity, .counter-total-quantity{
font-family: 'Orbitron', Sans-Serif;
font-size: 18px;
font-weight: 900;
  }
.counter-header-text {
  font-size: 20px;
  }
}
 